@use '../helpers/variables' as *;
/* Start Global Rules  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*mobile screen*/
@media #{$mobileMedia} {
    .container {
        width: 750px;
    }
}
/*small screen*/
@media #{$smallMedia} {
    .container {
        width: 750px;
    }
}

/*medium screen*/
@media #{$mediumMedia} {
    .container {
        width: 970px;
    }
}

/*large screen*/
@media #{$largeMedia} {
    .container {
        width: 1170px;
    }
}

/* End Global Rules  */